.layout {
    display: flex;
    overflow-y: hidden;
}

.left-panel {
    width: 300px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.map-editor {
    flex: 1;
    background-color: #fff;
    overflow: hidden;
}