<app-panel-vertical>
    <div class="wallet-panel">

        @if(character && character.wallet){
        <div class="copper">
            <img [src]="'/assets/coins/copper.gif'" alt="Copper" />
            <strong>Copper:</strong> {{ character.wallet.copper }}
        </div>
        <div class="silver">
            <img [src]="'/assets/coins/silver.gif'" alt="Silver" />
            <strong>Silver:</strong> {{ character.wallet.silver }}
        </div>
        <div class="gold">
            <img [src]="'/assets/coins/gold.gif'" alt="Gold" />
            <strong>Gold:</strong> {{ character.wallet.gold }}
        </div>

        } @else {
        <app-loading></app-loading>
        }

    </div>
</app-panel-vertical>