<div class="game-layout">
    <div class="left-panel">
        <app-character-panel [character]="character!"></app-character-panel>
        <app-character-attributes-panel [character]="character!"></app-character-attributes-panel>
        <app-character-skills-panel [character]="character!"></app-character-skills-panel>
    </div>

    <div class="main-panel">
        <app-main-panel [character]="character!" [location]="location!"></app-main-panel>
    </div>

    <div class="right-panel">
        <app-options-panel [character]="character!" [location]="location!"></app-options-panel>
        <app-character-wallet-panel [character]=" character!"></app-character-wallet-panel>
        <app-character-equipment-panel [character]="character!"></app-character-equipment-panel>
        <app-character-inventory-panel [character]="character!"></app-character-inventory-panel>
    </div>
</div>