<div class="game-layout">
    <div class="left-panel">
        <app-character-data-panel [character]="character!"></app-character-data-panel>
        <app-character-skills-panel [character]="character!"></app-character-skills-panel>
    </div>

    <div class="main-panel">
        <app-character-spells-panel [character]="character!"></app-character-spells-panel>

        <app-stage-panel [character]="character!" [stage]="stage!"></app-stage-panel>
    </div>

    <div class="right-panel">
        <app-character-equipment-panel [character]="character!"></app-character-equipment-panel>
        <app-character-inventory-panel [character]="character!"></app-character-inventory-panel>
        <app-options-panel [character]="character!" [stage]="stage!"></app-options-panel>
    </div>
</div>