<app-panel>
    <nav class="tabs">
        <app-button text="Equip" (click)="setTab('EQUIPMENT')" [disabled]="activeTab === 'EQUIPMENT'"></app-button>
        <app-button text="Tools" (click)="setTab('TOOLS')" [disabled]="activeTab === 'TOOLS'"></app-button>
        <app-button text="Wallet" (click)="setTab('WALLET')" [disabled]="activeTab === 'WALLET'"></app-button>
    </nav>

    @if(activeTab == 'EQUIPMENT'){
    @if(character.equipment){
    <div class="equipment-layout">
        <app-item class="amulet" [item]="character.equipment.amulet!" [slot]="'AMULET'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="ring" [item]="character.equipment.ring!" [slot]="'RING'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="helmet" [item]="character.equipment.helmet!" [slot]="'HELMET'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="armor" [item]="character.equipment.armor!" [slot]="'ARMOR'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="leg" [item]="character.equipment.leg!" [slot]="'LEG'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="boot" [item]="character.equipment.boot!" [slot]="'BOOT'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="weapon" [item]="character.equipment.weapon!" [slot]="'WEAPON'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="offhand" [item]="character.equipment.offhand!" [slot]="'OFFHAND'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>
    </div>
    }
    }

    @if(activeTab == 'TOOLS'){
    @if(character.equipment){
    <div class="tools-layout">
        <app-item [item]="character.equipment.pickaxe!" [slot]="'PICKAXE'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item [item]="character.equipment.woodaxe!" [slot]="'WOODAXE'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item [item]="character.equipment.fishingrod!" [slot]="'FISHINGROD'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item [item]="character.equipment.sickle!" [slot]="'SICKLE'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>
    </div>
    }
    }

    @if(activeTab == 'WALLET'){
    @if(character.wallet){
    <div class="wallet-layout">
        <div class="copper">
            <img [src]="'assets/coins/copper.gif'" alt="Copper" />
            <strong>Copper:</strong> {{ character.wallet.copper }}
        </div>
        <div class="silver">
            <img [src]="'assets/coins/silver.gif'" alt="Silver" />
            <strong>Silver:</strong> {{ character.wallet.silver }}
        </div>
        <div class="gold">
            <img [src]="'assets/coins/gold.gif'" alt="Gold" />
            <strong>Gold:</strong> {{ character.wallet.gold }}
        </div>
    </div>
    }
    }
</app-panel>

<app-character-equip-panel [character]="character" [slot]="selectedSlot" [visible]="showEquip" (closed)="onClose()">
</app-character-equip-panel>