<div class="denizen-row">
    @if(location && location.denizens && location.denizens.length){
    <app-panel-vertical>
        <strong>Denizens</strong>
        @for(denizen of location.denizens; track denizen.id) {
        <div class="denizen-row">
            <img [src]="'/assets/creatures/denizens/' + denizen.icon" alt="{{ denizen.name }}" />
            <app-button [text]="denizen.name" (clickEvent)="onDenizenClick(denizen)"></app-button>
        </div>
        }
    </app-panel-vertical>


    @if(selectedDenizen && (selectedDenizen.quests || selectedDenizen.trade)) {
    <app-panel-vertical>
        <h3>{{selectedDenizen.name}}</h3>
        <img [src]="'/assets/creatures/denizens/' + selectedDenizen.icon" alt="{{ selectedDenizen.name }}" />

        @if(selectedDenizen.trade && (selectedDenizen.trade.sell || selectedDenizen.trade.buy)){
        <app-button text="Trade" (clickEvent)="onTradeClick()"></app-button>
        }
        @if(selectedDenizen.quests){
        <app-button text="Quests" (clickEvent)="onQuestsClick()"></app-button>
        }
    </app-panel-vertical>
    }
    }

</div>

@if(tradeVisible){
<app-popup [visible]="tradeVisible" (closed)="tradeVisible=false">
    <app-trade-panel [character]="character" [denizen]="selectedDenizen" (close)="tradeVisible=false"></app-trade-panel>
</app-popup>
}

@if(questVisible){
<app-popup [visible]="questVisible" (closed)="questVisible=false">
    <app-quest-panel [character]="character" [denizen]="selectedDenizen" (close)="questVisible=false"></app-quest-panel>
</app-popup>
}