.character-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-attributes {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px 12px;
    font-size: 14px;
}