.character-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}