<app-card [onClick]="onClick">
    <div class="character-header">
        <h3>{{ character.name }}</h3>
    </div>

    <div *ngIf="character.attributes; else noAttributes" class="character-attributes">
        <p><strong>STR</strong>: {{ character.attributes.strength }}</p>
        <p><strong>DEX</strong>: {{ character.attributes.dexterity }}</p>
        <p><strong>CON</strong>: {{ character.attributes.constitution }}</p>
        <p><strong>INT</strong>: {{ character.attributes.intelligence }}</p>
        <p><strong>WIS</strong>: {{ character.attributes.wisdom }}</p>
        <p><strong>CHA</strong>: {{ character.attributes.charisma }}</p>
    </div>

    <ng-template #noAttributes>
        <div class="character-header">
            <p>No attributes.</p>
        </div>
    </ng-template>
</app-card>