<app-card [onClick]="onClick">
    <div class="character-header">
        <h3>{{ character.name }}</h3>
    </div>

    <div *ngIf="character.attributes; else noAttributes" class="character-attributes">
        <div><strong>STR</strong>: {{ character.attributes.strength }}</div>
        <div><strong>DEX</strong>: {{ character.attributes.dexterity }}</div>
        <div><strong>CON</strong>: {{ character.attributes.constitution }}</div>
        <div><strong>INT</strong>: {{ character.attributes.intelligence }}</div>
        <div><strong>WIS</strong>: {{ character.attributes.wisdom }}</div>
        <div><strong>CHA</strong>: {{ character.attributes.charisma }}</div>
    </div>

    <ng-template #noAttributes>
        <div class="character-header">
            No attributes.
        </div>
    </ng-template>
</app-card>