#General
.vscode/
database/server_data

#--------------------------------
#idle-mmorpg-server
#Folders
idle-mmorpg-server/build/
idle-mmorpg-server/.vs/
#Files
idle-mmorpg-server/*.txt.user

#--------------------------------
#idle-mmorpg-client
#Folders
idle-mmorpg-client/.angular
idle-mmorpg-client/.vscode
idle-mmorpg-client/dist
idle-mmorpg-client/node_modules
#Files
idle-mmorpg-client/package-lock.json

#--------------------------------
#idle-mmorpg-editor
#Folders
idle-mmorpg-editor/.angular
idle-mmorpg-editor/.vscode
idle-mmorpg-editor/dist
idle-mmorpg-editor/src-tauri/target/
idle-mmorpg-editor/src-tauri/gen/schemas
idle-mmorpg-editor/node_modules
#Files
idle-mmorpg-editor/src-tauri/Cargo.lock
idle-mmorpg-editor/package-lock.json

#--------------------------------
#idle-mmorpg-data
