#--------------------------------#
#------------General-------------#
#------------Folders-------------#
.vscode/
#-------------Files--------------#
database/server_data
#--------------------------------#


#--------------------------------#
#-------idle-mmorpg-client-------#
#------------Folders-------------#
idle-mmorpg-client/.angular
idle-mmorpg-client/.vscode
idle-mmorpg-client/dist
idle-mmorpg-client/node_modules
#-------------Files--------------#
idle-mmorpg-client/package-lock.json
#--------------------------------#


#--------------------------------#
#--------idle-mmorpg-data--------#
#------------Folders-------------#
#-------------Files--------------#
#--------------------------------#


#--------------------------------#
#-------idle-mmorpg-editor-------#
#------------Folders-------------#
idle-mmorpg-editor/.qtcreator/
idle-mmorpg-editor/.vs/
idle-mmorpg-editor/build/
#-------------Files--------------#
idle-mmorpg-editor/*.txt.user
#--------------------------------#


#--------------------------------#
#-------idle-mmorpg-server-------#
#------------Folders-------------#
idle-mmorpg-server/.qtcreator/
idle-mmorpg-server/.vs/
idle-mmorpg-server/build/
#-------------Files--------------#
idle-mmorpg-server/*.txt.user
#--------------------------------#
