<div class="quest-grid">
    <div class="header">
        <h3>{{ denizen?.name }}</h3>
    </div>

    <div class="quest-list">
        @if(denizen?.quests){
        @for(quest of denizen?.quests; track quest.id){
        <app-button [text]="quest.title" (clickEvent)="onSelectedQuest(quest)"></app-button>
        }
        }
    </div>

    <div class="quest-details">
        @if(selectedQuest) {
        <h3>{{ selectedQuest.title }}</h3>
        <p>{{ selectedQuest.description }}</p>

        @if(isQuestFinished(selectedQuest.id)) {
        <app-button text="Finish" (clickEvent)="finishQuest(selectedQuest)"></app-button>
        }
        @else {
        <app-button text="Accept" (clickEvent)="acceptQuest(selectedQuest)"></app-button>
        }
        }
    </div>

    <div class="footer">
        <app-button text="Exit"></app-button>
    </div>
</div>