<div class="location-column">

    <app-character-spells-panel [character]="character!"></app-character-spells-panel>

    @if(!showCombat){

    <div class="location-row">
        <div class="location-column">
            <app-location-actions-panel (openCombat)="onOpenCombat()"
                [location]="location"></app-location-actions-panel>
            <app-character-action-panel [character]="character"></app-character-action-panel>
        </div>

        <app-location-panel [location]="location!"></app-location-panel>
    </div>

    <div class="location-row">
        <app-location-structures-panel [location]="location" [character]="character"></app-location-structures-panel>
        <app-denizen-panel [location]="location" [character]="character"></app-denizen-panel>
    </div>

    } @else {

    <app-combat-panel [character]="character!" (closeCombat)="onCloseCombat()"></app-combat-panel>
    }

</div>