<div class="location-column">

    @if(!showCombat){

    <div class="location-row">
        <app-location-actions-panel (openCombat)="onOpenCombat()" [location]="location"></app-location-actions-panel>
        <app-location-structures-panel [location]="location" [character]="character"></app-location-structures-panel>
    </div>

    <app-character-action-panel [character]="character"></app-character-action-panel>

    } @else {
    <app-combat-panel (closeCombat)="onCloseCombat()"></app-combat-panel>
    }

</div>