<app-panel-vertical>
    <ng-container *ngIf="character.attributes; else loading">
        <div class="attribute-grid">
            <app-card><strong>STR</strong>: {{ character.attributes.strength }}</app-card>
            <app-card><strong>DEX</strong>: {{ character.attributes.dexterity }}</app-card>
            <app-card><strong>CON</strong>: {{ character.attributes.constitution }}</app-card>
            <app-card><strong>INT</strong>: {{ character.attributes.intelligence }}</app-card>
            <app-card><strong>WIS</strong>: {{ character.attributes.wisdom }}</app-card>
            <app-card><strong>CHA</strong>: {{ character.attributes.charisma }}</app-card>
        </div>
    </ng-container>
</app-panel-vertical>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>