.attributes-row {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 12px;
}

.attributes-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.attributes-column strong {
    text-transform: uppercase;
}

.attribute {
    padding: 8px;
    text-align: center;
    background: var(--color-bg);
    border-radius: var(--border-radius);
    box-shadow: inset var(--box-shadow);
}