<app-panel>
    @if (character.attributes && character.combatAttributes) {
    <div class="attributes-column">
        <strong>STR</strong>: {{ character.attributes.strength }}
        <strong>DEX</strong>: {{ character.attributes.dexterity }}
        <strong>CON</strong>: {{ character.attributes.constitution }}
        <strong>INT</strong>: {{ character.attributes.intelligence }}
        <strong>WIS</strong>: {{ character.attributes.wisdom }}
        <strong>ATK</strong>: {{ character.combatAttributes.attack }}
        <strong>SPD</strong>: {{ character.combatAttributes.attackSpeed }}
        <strong>DEF</strong>: {{ character.combatAttributes.defense }}
    </div>
    } @else {
    <app-loading></app-loading>
    }
</app-panel>