<div class="character-attributes-panel">
    <app-panel-vertical>
        <app-card [hoverInfo]="'Strength: raw muscle power'">STR: {{ character.attributes.strength }}</app-card>
        <app-card [hoverInfo]="'Dexterity: agility and reflexes'">DEX: {{ character.attributes.dexterity }}</app-card>
        <app-card [hoverInfo]="'Constitution: health and endurance'">CON: {{ character.attributes.constitution
            }}</app-card>
        <app-card [hoverInfo]="'Intelligence: memory and reasoning'">INT: {{ character.attributes.intelligence
            }}</app-card>
        <app-card [hoverInfo]="'Wisdom: insight and perception'">WIS: {{ character.attributes.wisdom }}</app-card>
        <app-card [hoverInfo]="'Charisma: charm and influence'">CHA: {{ character.attributes.charisma }}</app-card>
    </app-panel-vertical>
</div>