<app-panel-vertical>
    <app-button text="Map" (clickEvent)="showPopup = true"></app-button>

    <app-popup [visible]="showPopup" (closed)="showPopup = false">
        <h2>Location Connections</h2>
        @if(location && location.connections && location.connections.length) {
        @for(connection of location.connections; track connection) {
        <app-button [text]="connection.destination" (clickEvent)="onConnectionClick(connection.destination)">
        </app-button>
        }
        } @else {
        <app-loading></app-loading>
        }
    </app-popup>
</app-panel-vertical>