.combat-character {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    border-width: 2px;
    border-color: var(--color-accent);
    border-style: solid;
    border-radius: var(--border-radius);
    padding: 12px;
}