.combat-selection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.combat-panel {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px;
    width: 100%;
}

.characters-column,
.creatures-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    width: 100%;
}

.combat-character {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    border-width: 2px;
    border-color: var(--color-accent);
    border-style: solid;
    border-radius: var(--border-radius);
    padding: 12px;
}

.combat-creature {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    border-width: 2px;
    border-color: var(--color-accent);
    border-style: solid;
    border-radius: var(--border-radius);
    padding: 12px;
}

.combat-creature img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 4px;
}

.creature-stats {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-grow: 1;
}