<app-tooltip>

    <div tooltip-target [class.item-box]="mode === 'inventory' || mode === 'equip'" [class.slot]="mode === 'slot'"
        (click)="onClick()">
        @if(item && item.id){
        <app-image [class.slot-icon]="mode === 'slot'" [src]="item.icon" [alt]="item.name"></app-image>
        } @else if(mode === 'slot') {
        <img class="slot-icon" [src]="'assets/slots/' + slot + '.png'" />
        }

        @if(mode === 'inventory' && item && item.amount > 0){
        <span class="amount">{{ item.amount }}</span>
        }
    </div>

    @if(item && item.id){
    <div tooltip-content>
        <strong>{{ item.name }}</strong><br />
        {{ item.description }}<br />
        <em>Value: {{ item.price }}</em>

        @if(item.combat && (item.combat.attack !== 0 || item.combat.defense !== 0 )){
        <div class="effects-list">
            <div class="effect-row">
                <span class="effect-category">Attack</span>
                <span class="effect-value" [ngClass]="{
                    'positive': item.combat.attack > 0,
                    'negative': item.combat.attack < 0
                  }">
                    {{ item.combat.attack > 0 ? '+' : '' }}{{ item.combat.attack }}
                </span>
            </div>
            <div class="effect-row">
                <span class="effect-category">Defense</span>
                <span class="effect-value" [ngClass]="{
                    'positive': item.combat.defense > 0,
                    'negative': item.combat.defense < 0
                  }">
                    {{ item.combat.defense > 0 ? '+' : '' }}{{ item.combat.defense }}
                </span>
            </div>
        </div>
        }

        @if(item.bonus && item.bonus.type !== '' && item.bonus.value !== 0){
        <div class="effects-list">
            <div class="effect-row">
                <span class="effect-category">{{ item.bonus.type }}</span>
                <span class="effect-value" [ngClass]="{
                    'positive': item.bonus.value > 0,
                    'negative': item.bonus.value < 0
                  }">
                    {{ item.bonus.value > 0 ? '+' : '' }}{{ item.bonus.value }}
                </span>
            </div>
        </div>
        }

        @if(item.type === "CONSUMABLE" && item.effect ){
        <div class="effects-list">
            <div class="effect-row">
                <span class="effect-category">Health</span>
                <span class="effect-value" [ngClass]="{
                    'positive': item.effect.health > 0,
                    'negative': item.effect.health < 0
                  }">
                    {{ item.effect.health > 0 ? '+' : '' }}{{ item.effect.health }}/s
                </span>
                <span class="effect-duration">{{ item.effect.duration / 20 }}s</span>
            </div>

            <div class="effect-row">
                <span class="effect-category">Mana</span>
                <span class="effect-value" [ngClass]="{
                    'positive': item.effect.mana > 0,
                    'negative': item.effect.mana < 0
                  }">
                    {{ item.effect.mana > 0 ? '+' : '' }}{{ item.effect.mana }}/s
                </span>
                <span class="effect-duration">{{ item.effect.duration / 20 }}s</span>
            </div>

            <div class="effect-row">
                <span class="effect-category">Stamina</span>
                <span class="effect-value" [ngClass]="{
                    'positive': item.effect.stamina > 0,
                    'negative': item.effect.stamina < 0
                  }">
                    {{ item.effect.stamina > 0 ? '+' : '' }}{{ item.effect.stamina }}/s
                </span>
                <span class="effect-duration">{{ item.effect.duration / 20 }}s</span>
            </div>

            <app-button text="Use" (clickEvent)="use.emit(item)"></app-button>
        </div>
        }
    </div>
    }
</app-tooltip>