.inventory-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.item-box {
    width: 40px;
    height: 40px;
    background: var(--color-bg);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset var(--box-shadow);
}

.item-box img {
    width: 32px;
    height: 32px;
    border-radius: var(--border-radius);
}