<app-panel>
    <nav class="tabs">
        <app-button text="Equipment" (click)="setTab('equipment')"></app-button>
        <app-button text="Tools" (click)="setTab('tools')"></app-button>
    </nav>

    @if(activeTab == 'equipment'){
    @if(character.equipment){
    <div class="equipment-layout">
        <app-equipment-slot class="amulet" [character]="character!" slot="amulet" (slotClick)="onSlotClick($event)" />
        <app-equipment-slot class="ring" [character]="character!" slot="ring" (slotClick)="onSlotClick($event)" />
        <app-equipment-slot class="helmet" [character]="character" slot="helmet" (slotClick)="onSlotClick($event)" />
        <app-equipment-slot class="armor" [character]="character" slot="armor" (slotClick)="onSlotClick($event)" />
        <app-equipment-slot class="glove" [character]="character" slot="glove" (slotClick)="onSlotClick($event)" />
        <app-equipment-slot class="leg" [character]="character" slot="leg" s (slotClick)="onSlotClick($event)" />
        <app-equipment-slot class="boot" [character]="character" slot="boot" (slotClick)="onSlotClick($event)" />
        <app-equipment-slot class="leftHand" [character]="character" slot="leftHand"
            (slotClick)="onSlotClick($event)" />
        <app-equipment-slot class="rightHand" [character]="character" slot="rightHand"
            (slotClick)="onSlotClick($event)" />
    </div>
    }
    }

    @if(activeTab == 'tools'){
    @if(character.equipment){
    <div class="tools-layout">
        <app-equipment-slot class="pickaxe" [character]="character" slot="pickaxe" (slotClick)="onSlotClick($event)" />
        <app-equipment-slot class="woodaxe" [character]="character" slot="woodaxe" (slotClick)="onSlotClick($event)" />
        <app-equipment-slot class="fishingrod" [character]="character" slot="fishingrod"
            (slotClick)="onSlotClick($event)" />
        <app-equipment-slot class="sickle" [character]="character" slot="sickle" (slotClick)="onSlotClick($event)" />
    </div>
    }
    }
</app-panel>

<app-character-equip-panel [character]="character" [slot]="selectedSlot" [visible]="showEquip" (closed)="onClose()">
</app-character-equip-panel>