<app-popup [visible]="visible" (closed)="closed.emit()">

    <h3>Equip item in {{ getSlotName() }} slot</h3>

    <div class="inventory-grid">
        @for(item of getEquipableItems(); track item.id){
        <app-item [item]="item!" mode="equip" (equip)="equipItem($event)"></app-item>
        }

        <app-tooltip>
            <div tooltip-target class="item-box" (click)="equipItem(null)">
                <img [src]="'assets/slots/remove.png'" alt="Remove" />
            </div>

            <div tooltip-content>
                <strong>Unequip</strong><br />
            </div>
        </app-tooltip>
    </div>

    @if(getEquipableItems().length === 0){
    <p>No items available for this slot.</p>
    }

    <app-button text="Close" (clickEvent)="closed.emit()"></app-button>
</app-popup>