<app-popup [visible]="visible" (closed)="closed.emit()">

    <h3>Equip item in {{ getSlotName() }} slot</h3>

    <div class="inventory-grid">
        @for(item of getEquipableItems(); track item.id){
        <app-tooltip>
            <div tooltip-target class="item-box" (click)="equipItem(item)">
                <img [src]="'assets/items/' + item.icon" alt="{{ item.name }}" />
            </div>

            <div tooltip-content>
                <strong>{{ item.name }}</strong><br />
                {{ item.description }}<br />
                <em>Value: {{ item.price }}</em>

                @if( item.bonuses && item.bonuses.length){
                <div class="effects-list">
                    @for(bonus of item.bonuses; track bonus.category){
                    <div class="effect-row">
                        <span class="effect-category">{{ bonus.category }}</span>
                        <span class="effect-value" [ngClass]="{
                                'positive': bonus.value > 0,
                                'negative': bonus.value < 0
                                }">
                            {{ bonus.value > 0 ? '+' : '' }}{{ bonus.value }}
                        </span>
                    </div>
                    }
                </div>
                }

            </div>
        </app-tooltip>
        }
        <app-tooltip>
            <div tooltip-target class="item-box" (click)="equipItem(null)">
                <img [src]="'assets/slots/remove.png'" alt="Remove" />
            </div>

            <div tooltip-content>
                <strong>Unequip</strong><br />
            </div>
        </app-tooltip>

        @if(getEquipableItems().length === 0){
        <p>No items available for this slot.</p>
        }
    </div>

    <app-button text="Close" (clickEvent)="closed.emit()"></app-button>
</app-popup>