.tabs {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

.equipment-layout {
    display: grid;
    grid-template-areas:
        "amulet helmet ring"
        "leftHand armor rightHand"
        ". leg glove"
        ". boot .";
    grid-template-columns: repeat(3, 40px);
    gap: 12px;
    justify-items: center;
    align-items: center;
    padding: 12px;
}

.tools-layout {
    display: grid;
    grid-template-areas:
        "pickaxe woodaxe fishingrod"
        "shovel rope sickle";
    grid-template-columns: repeat(3, 40px);
    gap: 12px;
    justify-items: center;
    align-items: center;
    padding: 12px;
}

.amulet {
    grid-area: amulet;
}

.ring {
    grid-area: ring;
}

.helmet {
    grid-area: helmet;
}

.armor {
    grid-area: armor;
}

.leg {
    grid-area: leg;
}

.glove {
    grid-area: glove;
}

.boot {
    grid-area: boot;
}

.leftHand {
    grid-area: leftHand;
}

.rightHand {
    grid-area: rightHand;
}

.pickaxe {
    grid-area: pickaxe;
}

.woodaxe {
    grid-area: woodaxe;
}

.fishingrod {
    grid-area: fishingrod;
}

.shovel {
    grid-area: shovel;
}

.sickle {
    grid-area: sickle;
}

.rope {
    grid-area: rope;
}

.slot {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}