<app-panel>
    <nav class="tabs">
        <app-button text="Equipment" (click)="setTab('equipment')"></app-button>
        <app-button text="Tools" (click)="setTab('tools')"></app-button>
    </nav>

    @if(activeTab == 'equipment'){
    @if(character.equipment){
    <div class="equipment-layout">
        <app-item class="amulet" [item]="character.equipment?.amulet!" [slot]="'amulet'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="ring" [item]="character.equipment?.ring!" [slot]="'ring'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="helmet" [item]="character.equipment?.helmet!" [slot]="'helmet'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="armor" [item]="character.equipment?.armor!" [slot]="'armor'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="glove" [item]="character.equipment?.glove!" [slot]="'glove'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="leg" [item]="character.equipment?.leg!" [slot]="'leg'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="boot" [item]="character.equipment?.boot!" [slot]="'boot'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="leftHand" [item]="character.equipment?.leftHand!" [slot]="'leftHand'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item class="rightHand" [item]="character.equipment?.rightHand!" [slot]="'rightHand'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>
    </div>
    }
    }

    @if(activeTab == 'tools'){
    @if(character.equipment){
    <div class="tools-layout">
        <app-item [item]="character.equipment?.pickaxe!" [slot]="'pickaxe'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item [item]="character.equipment?.woodaxe!" [slot]="'woodaxe'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item [item]="character.equipment?.fishingrod!" [slot]="'fishingrod'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>

        <app-item [item]="character.equipment?.sickle!" [slot]="'sickle'" mode="slot"
            (equip)="onSlotClick($event)"></app-item>
    </div>
    }
    }
</app-panel>

<app-character-equip-panel [character]="character" [slot]="selectedSlot" [visible]="showEquip" (closed)="onClose()">
</app-character-equip-panel>