.slot {
    width: 40px;
    height: 40px;
    background: var(--color-bg);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset var(--box-shadow);
    cursor: pointer;
}

.slot-icon {
    width: 32px;
    height: 32px;
    border-radius: var(--border-radius);
}