<app-tooltip>

    <div tooltip-target class="slot" (click)="onClick()">
        @if(item && item.id){
        <img class="slot-icon" [src]="'assets/items/' + item.icon" alt="{{ item.name }}" />
        } @else {
        <img class="slot-icon" [src]="'assets/slots/' + slot + '.png'" />
        }
    </div>

    @if(item && item.id){
    <div tooltip-content>
        <strong>{{ item.name }}</strong><br />
        {{ item.description }}<br />
        <em>Value: {{ item.price }}</em>
    </div>
    }
</app-tooltip>