.login-layout {
    display: flex;
    flex-direction: row;
    background-color: var(--color-background);
    color: var(--color-text);
    gap: 12px;
    padding: 12px;
}

.left-panel,
.right-panel {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}