.scrollable-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-right: 8px;
    overflow-y: auto;
}

.category-title {
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    background: var(--color-bg);
    border-radius: var(--border-radius);
    box-shadow: inset var(--box-shadow);
}