<app-panel>

    <div class="scrollable-panel">

        @if(character && character.skills) {

        @for (category of groupSkillsByCategory(character.skills) | keyvalue; track category.key) {
        <strong class="category-title">{{ category.key | titlecase }}</strong>

        @for (characterSkill of category.value; track characterSkill.id) {
        <app-tooltip>
            <div tooltip-target>
                <app-bar [label]="characterSkill.skill.name + ' (LVL ' + characterSkill.level + ')'"
                    [value]="characterSkill.experience" [max]="characterSkill.experienceNextLevel" color="#8e51ff">
                </app-bar>
            </div>

            <div tooltip-content>
                <strong>{{ characterSkill.skill.name }}</strong><br />
                Level: {{ characterSkill.level }}<br />
                Experience: {{ characterSkill.experience }} / {{ characterSkill.experienceNextLevel }}<br />
                {{ characterSkill.skill.description }}
            </div>
        </app-tooltip>
        }
        }
        } @else {
        <h3>No skills</h3>
        }

    </div>

</app-panel>