<app-panel>
    <div class="section">

        <strong>Available Actions</strong>

        @if(character && character.action && character.action.id != "idle"){
        <app-button text="Idle" (clickEvent)="onActionClick('idle')"></app-button>
        }

        @if(location && location.actions && location.actions.length) {
        @for(action of location.actions; track action.id){
        <app-button [text]="action.label" (clickEvent)="onActionClick(action.id)"></app-button>
        }
        }
    </div>
</app-panel>