<app-panel>
    Inventory

    @if(character && character.inventory && character.inventory.items.length){
    <div class="inventory-grid">
        @for(item of character.inventory.items; track item.id){
        <app-tooltip>
            <div tooltip-target class="item-box">
                <img [src]="'assets/items/' + item.icon" alt="{{ item.name }}" />
                <span class="amount">{{ item.amount }}</span>
            </div>

            <div tooltip-content>
                <strong>{{ item.name }}</strong><br />
                {{ item.description }}<br />
                <em>Value: {{ item.price }}</em>
            </div>
        </app-tooltip>
        }
    </div>

    } @else {
    <p>No items in inventory.</p>
    }

</app-panel>