.panel {
    background-color: var(--color-panel);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    color: var(--color-text);
    align-items: center;
}

.panel-horizontal {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.panel-vertical {
    display: flex;
    flex-direction: column;
    gap: 16px;
}