:root {
    font-family: sans-serif;

    --color-bg: #242424;
    --color-text: #f0f0f0;
    --color-panel: #2a2a2a;
    --color-panel-shadow: rgba(0, 0, 0, 0.12);
    --color-accent: #747bff;
    --color-button: #8e51ff;

    color: var(--color-text);
    background-color: var(--color-bg);
}