<div class="popup-overlay" (click)="onOverlayClick()">
    <app-panel-vertical (click)="$event.stopPropagation()">

        @if(!combat){
        <div class="combat-selection">
            <app-panel-vertical>
                <h2>Combat Selection</h2>
                @if(combatInstances){
                @for(combat of combatInstances; track combat.id){
                <app-card (click)="onJoinClicked(combat.id)"><strong>TESTE</strong>: TESTE</app-card>
                }
                }
                @else {
                <app-loading></app-loading>
                }
            </app-panel-vertical>

            <app-button text="Create new" (clickEvent)="onCreateClicked()"></app-button>
        </div>

        } @else {
        <div class="combat-panel">
            <h3>Characters</h3>

            @for (char of combat.characters; track char) {
            <div class="combat-char">
                <strong>{{ char.name }}</strong><br />
                HP: {{ char.vitals.health }} | Stamina: {{ char.vitals.stamina }} | Mana: {{ char.vitals.mana }}
            </div>
            }

            <app-button text="Exit" (clickEvent)="onExitClicked()"></app-button>

        </div>
        }

    </app-panel-vertical>
</div>