<app-panel-vertical class="location-panel">
    <h2>{{ location.name }}</h2>
    <p class="description">{{ location.description }}</p>

    <div class="section">
        <h3>Available Actions</h3>
        <ng-container *ngIf="location.actions.length; else noActions">
            <ul class="action-list">
                <li *ngFor="let action of location.actions">
                    <app-card>
                        {{ action.label }}
                    </app-card>
                </li>
            </ul>
        </ng-container>
        <ng-template #noActions>
            <p>No actions available.</p>
        </ng-template>
    </div>

    <div class="section">
        <h3>Connections</h3>
        <ul class="connection-list">
            <li *ngFor="let connection of location.connections">
                <app-card>
                    {{ connection.destination }}
                </app-card>
            </li>
        </ul>
    </div>

    <app-bar *ngIf="character.action?.idAction" label="Action" [value]="character.action.counter"
        [max]="character.action.duration" color="#2196f3"></app-bar>
</app-panel-vertical>