<div class="location-column">

    <div class="location-row">
        <app-location-description-panel [location]="location"></app-location-description-panel>
        <app-location-connections-panel [location]="location"></app-location-connections-panel>
    </div>

    <div class="location-row">
        <app-location-actions-panel [location]="location"></app-location-actions-panel>
        <app-location-structures-panel [location]="location" [character]="character"></app-location-structures-panel>
    </div>

    <app-location-character-action-panel [character]="character"></app-location-character-action-panel>
</div>