<app-panel-vertical>
    <div class="section">

        <h3>Structures</h3>

        <ng-container *ngIf="character?.coordinates?.structure; else showStructures">
            <app-button text="Leave" (clickEvent)="onStructureClick('')"></app-button>
        </ng-container>

        <ng-template #showStructures>
            <ng-container *ngIf="location?.structures?.length">
                <app-button *ngFor="let structure of location.structures" [text]="structure.label"
                    (clickEvent)="onStructureClick(structure.id)">
                </app-button>
            </ng-container>
        </ng-template>

    </div>
</app-panel-vertical>