.location-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.location-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.location-row app-panel-vertical {
    width: 100%;
}