.location-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.tile-grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 32px);
    grid-template-rows: repeat(var(--rows), 32px);
    border-radius: 8px;
    // overflow: hidden;
}

.tile {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile.empty {
    background-color: #ccc;
}

.tile.structure {
    background-color: #f39c12;
    cursor: pointer;
}

.tile.connection {
    background-color: #27ae60;
    cursor: pointer;
}