<app-panel>
    @if(location) {
    <div class="location-header">
        <strong>{{ getStructure(character.coordinates.structure)?.label || location.name }}</strong>
        <p>{{ getStructure(character.coordinates.structure)?.description || location.description }}</p>
    </div>

    @if(!character.coordinates.structure) {
    <app-location-renderer-panel [location]="location"></app-location-renderer-panel>

    } @else {
    <app-button text="Leave" (clickEvent)="onLeaveStructureClicked('')"></app-button>
    }

    } @else {
    <app-loading></app-loading>
    }
</app-panel>