<app-panel>
    @if(location) {
    <h3>{{ getStructure(character.coordinates.structure)?.label || location.name }}</h3>
    <p>{{ getStructure(character.coordinates.structure)?.description || location.description }}</p>

    @if(!character.coordinates.structure) {
    <app-location-renderer-panel [location]="location"></app-location-renderer-panel>

    } @else {
    <app-button text="Leave" (clickEvent)="onLeaveStructureClicked('')"></app-button>
    }

    } @else {
    <app-loading></app-loading>
    }
</app-panel>