<div class="account-layout">
    <div class="left-panel">
        <app-panel>
            <h2>Account: {{ getUsername() }}</h2>
            Session ID: {{ getSessionId() }}
            <app-button text="Logout" (clickEvent)="logout()"></app-button>
        </app-panel>
    </div>

    <div class="main-panel">
        <app-panel>
            <h2>Characters</h2>
            <app-character-list [characters]="characters" (onSelect)="handleStartGame($event)"></app-character-list>
            @if(loading){
            <app-loading></app-loading>
            }
            @if(error){
            <p style="color: red;">Error: {{ error }}</p>
            }
        </app-panel>
    </div>

    <div class="right-panel">
        <app-character-form />
        <app-character-delete [characters]="characters" />
    </div>
</div>