.account-layout {
    display: flex;
    flex-direction: row;
    background-color: var(--color-background);
    color: var(--color-text);
    gap: 12px;
    padding: 12px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 0 0 350px;
    max-width: 350px;
}

.main-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 0 0 350px;
    max-width: 350px;
}