<div class="character-column">
    <app-panel-vertical>
        <app-button [text]="nameLevel" (clickEvent)="handleClick()">
        </app-button>
    </app-panel-vertical>

    <app-panel-vertical>
        @if(character && character.progression){
        <app-bar label="XP" [value]="character.progression.experience" [max]="character.progression.experienceNextLevel"
            color="#fdd835" />
        <app-bar label="Health" [value]="character.vitals.health" [max]="character.vitals.maxHealth" color="#e53935" />
        <app-bar label="Mana" [value]="character.vitals.mana" [max]="character.vitals.maxMana" color="#1e88e5" />
        <app-bar label="Stamina" [value]="character.vitals.stamina" [max]="character.vitals.maxStamina"
            color="#4caf50" />
        } @else{
        <app-loading></app-loading>
        }
    </app-panel-vertical>
</div>